<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>markdown编辑器</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/x-icon" href="../images/aBao.ico">
        <link rel="stylesheet" href="../css/basic-ui.css">
        <link rel="stylesheet" href="../css/custom-ui.css">
        <link rel="stylesheet" href="../css/index.css">
    </head>
    <body>
        <div id="app">
            <div class="header">
                <a href="http://loadingmore/vue-markdown"><h1>jiaxiaogang</h1></a>
                <iframe
                    style="position:absolute;top:29px;right:6px;"
                    frameborder="0" scrolling="0" width="91px" height="20px" class="star-gihub"
                    src="https://ghbtns.com/github-btn.html?user=jiaxiaogang&repo=SMG&type=star&count=true" >
                </iframe>
                <span>markdown编辑器</span>
                <div class="copy-btn" data-clipboard-target="#bar" title="">copy LText</div>
				<div class="copy-html" data-clipboard-target="#cohtml" title="">copy RText</div>
                <div class="clear-btn" @click="clearmd">Clear</div>
            </div>
            <div class="preview-content clearfix">
                <div class="prev-editor left" v-if="isShow">
                    <textarea spellcheck="false" class="prev-text" v-model="message" id="bar" @keydown.tab="tabSpace"></textarea>
                </div>
                <div class="prev-view right" v-html="reversedMessage" v-if="isPrevShow" id="cohtml">
                    {{reversedMessage}}
                </div>
                <div class="prev-btn" @click="isClick" v-if="isShow">预览</div>
                <div class="prev-editor-btn" @click="isEditor" v-if="isPrevShow">编辑</div>
            </div>
        </div>
        <script src="../javascripts/bundle.js"></script>
    </body>
</html>
